html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

:root {
  --deeppink: #FB3B64;
  --blue: #08A6E4;
  --aquamarine: #55DFB4;
  --gray: #A5A5A5;
  --lightgray: #F7F7F7;
  --gray-shadow: #00000029;
  --blue-shadow: #07ACE629;
  --gray-form: #95989A
; }

:root {
  --font-o: "Open Sans", sans-serif;
  --font-r: 'Raleway', sans-serif; }

html {
  font-size: 10px; }

body {
  display: flex;
  justify-content: center; }

.main-container {
  width: 1352px; }

@media (max-width: 1352px) {
  .main-container {
    width: 100%; } }

header {
  height: 7rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0.3rem 0.6rem var(--gray-shadow); }

.logo {
  font-family: var(--font-r);
  font-size: 3.2rem;
  line-height: 3.7rem;
  color: var(--blue);
  text-decoration: none; }

ul {
  display: flex; }

ul li {
  list-style-type: none;
  padding-left: 9.5rem;
  height: 100%; }

li a {
  height: 100%;
  font-family: var(--font-o);
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: var(--gray);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .33rem; }

li a:hover {
  color: #000000;
  padding-bottom: 2.5rem;
  border-bottom: 0.4rem solid var(--blue); }

.navTrigger {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto; }
  .navTrigger i {
    background-color: var(--blue);
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px; }
  .navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse; }
  .navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse; }
  .navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse; }
  .navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards; }
  .navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards; }
  .navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards; }

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(45deg); } }

@keyframes inM {
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(45deg); } }

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(45deg); } }

@keyframes outM {
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(45deg); } }

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg); } }

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg); }
  50% {
    transform: translateY(9px) rotate(0deg); }
  100% {
    transform: translateY(9px) rotate(135deg); } }

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg); } }

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg); }
  50% {
    transform: translateY(9px) rotate(0deg); }
  100% {
    transform: translateY(9px) rotate(135deg); } }

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg); } }

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg); }
  50% {
    transform: translateY(-9px) rotate(0deg); }
  100% {
    transform: translateY(-9px) rotate(135deg); } }

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg); } }

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg); }
  50% {
    transform: translateY(-9px) rotate(0deg); }
  100% {
    transform: translateY(-9px) rotate(135deg); } }

.section-0 {
  width: 100vw;
  display: none; }
  .section-0 .mobile-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.3rem 0.6rem var(--gray-shadow);
    margin-top: .6rem; }
    .section-0 .mobile-menu li {
      padding: 0 0 1.4rem 2.5rem; }
    .section-0 .mobile-menu li:nth-child(1) {
      margin-top: 3rem; }
      .section-0 .mobile-menu li:nth-child(1) a {
        color: black; }
    .section-0 .mobile-menu li:nth-child(4) {
      margin-bottom: 2rem; }

.section-0.visible {
  display: block; }

@media (max-width: 1000px) {
  .section-0 {
    display: none; }
  header {
    justify-content: space-between; }
    header .navTrigger {
      display: block;
      margin: 0 3rem 0 0; }
    header a {
      padding-left: 2.5rem; }
    header .menu {
      display: none; } }

.section-1 {
  height: calc(100vh - 7rem);
  background-image: url("../assets/Background.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center; }

h1 {
  font-family: var(--font-r);
  font-size: 4.9rem;
  line-height: 5.7rem;
  padding-top: 13rem; }

.section-1 div {
  font-family: var(--font-r);
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding-top: 2rem; }

.section-1 a {
  padding: 2.2rem 16rem;
  background-color: var(--blue);
  border-radius: 40px;
  color: #FFFFFF;
  font-family: var(--font-o);
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0.5rem 1rem 1.4rem var(--blue-shadow);
  margin-top: 3.8rem; }

.section-1 a:hover {
  border: 2px solid var(--deeppink); }

.section-1 a:active {
  box-shadow: 0.5rem 1rem 1.4rem var(--deeppink); }

@media (max-width: 1000px) {
  .section-1 {
    background-size: auto 50%; } }

@media (max-width: 600px) {
  .section-1 div {
    text-align: center;
    padding: 2rem 2rem 0 2rem;
  }
  .section-1 a {
    padding: 2.2rem 8rem;
  }
};

h2 {
  font-family: var(--font-r);
  font-size: 3.6rem;
  line-height: 4.2rem; }

.section-2 h2 {
  padding-top: 10rem;
  text-align: center; }

.section-2 div {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly; }

.section-2-box {
  display: flex;
  flex-direction: column;
  align-items: center; }

.circle {
  width: 6.3rem;
  height: 6.3rem;
  border-radius: 50%; }

.circle-1 {
  background-color: var(--deeppink); }

.circle-2 {
  background-color: var(--blue); }

.circle-3 {
  background-color: var(--aquamarine); }

.icon {
  margin-left: 80%; }

.section-2-box p {
  font-family: var(--font-r);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .6rem;
  line-height: 2.4rem;
  padding-top: 2.2rem; }

span {
  font-family: var(--font-r);
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--gray);
  padding: 2rem 0 15rem 0; }

@media (max-width: 1000px) {
  .section-2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section-2 h2 {
      width: 70%; }
    .section-2 div {
      flex-direction: column; }
      .section-2 div div .icon-1 {
        width: 4.5rem;
        margin-left: 55%; }
      .section-2 div div .icon-2 {
        width: 6rem;
        margin-left: 40%; }
      .section-2 div div .icon-3 {
        width: 5rem;
        margin-left: 45%; }
      .section-2 div div span {
        padding-bottom: 4rem; } }

.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lightgray); }

.media-container {
  width: 61%;
  height: 37rem;
  background-color: white;
  display: flex; }

.media-container:nth-child(1) {
  margin-top: 10.5rem; }
  .media-container:nth-child(1) .media-text {
    width: 45%; }

.media-container:nth-child(2) {
  margin-top: 3.7rem; }
  .media-container:nth-child(2) .media-img {
    width: 22rem;
    height: 22rem;
    background-color: var(--blue);
    border-radius: 50%;
    margin-top: 7rem;
    position: absolute; }
  .media-container:nth-child(2) .media-text {
    margin-left: 53%; }

.media-box {
  margin: 3rem; }

.media-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%; }

.media-text h2 {
  padding: 0; }

.media-text p {
  font-family: var(--font-o);
  font-size: 1.6rem;
  line-height: 2.2rem;
  position: relative;
  padding-top: 3rem; }

.media-text p::before {
  content: "";
  position: absolute;
  bottom: -3rem;
  left: 0;
  width: 70%; }

.media-text:nth-child(1) p::before {
  border-bottom: 4px solid var(--deeppink); }

.media-text:nth-child(2) p::before {
  border-bottom: 4px solid var(--blue); }

.media-img {
  position: relative; }

.img-square {
  width: 15rem;
  height: 15rem;
  border-radius: 4rem;
  background-color: var(--deeppink);
  transform: rotate(45deg);
  position: absolute;
  top: 15%;
  right: 5%; }

.mac {
  width: 27rem;
  position: relative;
  top: 25%;
  right: 5%;
  z-index: 1; }

.iphone {
  position: absolute;
  left: 0;
  top: 10%;
  z-index: 2;
  width: 29rem; }

.container-2 {
  margin: 3.7rem 0 10.5rem 0;
  width: 61%;
  height: 37rem;
  display: flex;
  justify-content: space-between; }

.box-text {
  box-sizing: border-box;
  padding-left: 3.5rem;
  width: 56%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.box-text p {
  width: 80%;
  font-family: var(--font-o);
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding: 3rem 0 4rem 0;
  position: relative; }

.box-text p:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70%;
  border-bottom: 4px solid var(--aquamarine); }

.box-image {
  height: 100%;
  width: 38%;
  background-color: var(--aquamarine);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px; }

.trumpet {
  width: 70%;
  height: auto; }

@media (max-width: 1000px) {
  .section-3 {
    height: auto; }
    .section-3 .media-container {
      flex-direction: column;
      height: auto;
      align-items: center; }
      .section-3 .media-container .media-text {
        margin: 0;
        padding: 0;
        width: 100%; }
        .section-3 .media-container .media-text h2 {
          padding: 0 3.5rem;
          font-size: 3rem;
          line-height: 3.6rem; }
        .section-3 .media-container .media-text p {
          padding: 3.5rem; }
          .section-3 .media-container .media-text p::before {
            display: none; }
      .section-3 .media-container .mac {
        margin-top: 6.5rem; }
    .section-3 .media-container:nth-child(1) {
      flex-direction: column-reverse; }
    .section-3 .media-container:nth-child(2) .media-img {
      margin: 3rem 0 0 -1.6rem; }
    .section-3 .media-container:nth-child(2) .media-text {
      margin-top: 30rem; }
    .section-3 .container-2 {
      flex-direction: column;
      height: auto; }
      .section-3 .container-2 .box-text {
        width: 100%; }
        .section-3 .container-2 .box-text h2 {
          font-size: 3rem;
          line-height: 3.6rem;
          width: 90%;
          margin-top: 3.5rem;
          padding-left: 0; }
        .section-3 .container-2 .box-text p {
          width: 90%; }
          .section-3 .container-2 .box-text p:before {
            display: none; }
      .section-3 .container-2 .box-image {
        margin-top: -1rem;
        width: 100%; }
        .section-3 .container-2 .box-image .trumpet {
          margin-top: 15%; } }

.section-4 {
  display: flex;
  flex-direction: column;
  align-items: center; }

.section-4 h2 {
  margin: 10.5rem 0 5rem 0; }

.pricing-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 60rem;
  margin-bottom: 9.5rem; }

.pricing-plans {
  width: 25%;
  height: 80%;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1; }

.offer {
  width: 100%; }

.caption, .jist {
  display: flex;
  flex-direction: column;
  align-items: center; }

.pricing-plans:nth-child(1) {
  border: 1px solid var(--deeppink); }

.pricing-plans:nth-child(2) {
  border: 1px solid var(--blue);
  margin: 0 6rem;
  flex-grow: 1.3;
  height: 90%;
  box-shadow: .5rem 1rem 2.7rem #07ACE629; }

.pricing-plans:nth-child(3) {
  border: 1px solid var(--aquamarine); }

h3 {
  font-family: var(--font-r);
  font-size: 2.1rem;
  font-weight: 700;
  margin: 3.8rem 0 1.4rem 0; }

.prices {
  font-family: var(--font-o);
  font-size: 4.6rem;
  line-height: 6.4rem;
  font-weight: 300; }

.priceOne {
  color: var(--deeppink);
  padding-bottom: 7rem; }

.priceTwo {
  color: var(--blue); }

.priceThree {
  color: var(--aquamarine); }

.limited {
  font-family: var(--font-r);
  font-size: 1.2rem;
  font-weight: 700;
  padding-top: 1rem; }

.limitedOne {
  padding-bottom: 7.5rem; }

.limitedTwo {
  padding-bottom: 4.8rem; }

.pricing-plans img {
  width: 1.1rem;
  height: 1.1rem; }

.pricing-plans span {
  font-family: var(--font-o);
  font-size: 1.4rem;
  line-height: 4.1rem;
  padding-left: 1rem; }

.pricing-plans a {
  color: white;
  font-family: var(--font-o);
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  padding: 1.6rem 5.7rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: 23px;
  margin-top: 4.3rem; }

.pricing-plans a:active {
  box-shadow: 0.5rem 1rem 1.4rem var(--deeppink); }

.pricing-plans:nth-child(1) a {
  background-color: var(--deeppink); }

.pricing-plans:nth-child(2) a {
  background-color: var(--blue);
  margin-top: 7.6rem;
  box-shadow: .5rem 1rem 1.4rem #07ACE629; }

.pricing-plans:nth-child(2) a:active {
  box-shadow: 0.5rem 1rem 1.4rem var(--deeppink); }

.pricing-plans:nth-child(3) a {
  background-color: var(--aquamarine); }

@media (max-width: 1000px) {
  .pricing-box {
    flex-direction: column;
    width: 50%; }
    .pricing-box .pricing-plans {
      width: 85%;
      height: 60%;
      margin-bottom: 5.5rem; }
      .pricing-box .pricing-plans .offer {
        display: flex;
        align-items: center;
        margin-top: 5rem; }
        .pricing-box .pricing-plans .offer .caption {
          width: 50%;
          height: 50%; }
          .pricing-box .pricing-plans .offer .caption h3 {
            margin-top: 0;
            padding-top: 0; }
        .pricing-box .pricing-plans .offer .jist {
          width: 50%;
          align-items: flex-start; }
      .pricing-box .pricing-plans a {
        margin-top: 8rem; }
    .pricing-box .pricing-plans:nth-child(2) {
      width: 95%; }
      .pricing-box .pricing-plans:nth-child(2) a {
        margin-top: 8rem; } }

@media (max-width: 800px) {
  .pricing-box {
    flex-direction: column;
    width: 60%; } }

@media (max-width: 700px) {
  .pricing-box {
    flex-direction: column;
    width: 70%; } }

@media (max-width: 550px) {
  .pricing-box {
    flex-direction: column;
    width: 85%; } }

@media (max-width: 389px) {
  .pricing-box .pricing-plans a {
    margin-top: 4rem;
  }
};

.section-5 {
  display: flex;
  justify-content: center;
  margin: 10rem 0 0 0; }

.section-5 h1 {
  padding-top: 0; }

.info {
  font-family: var(--font-o);
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding: 2.2rem 0 4rem 0; }

.details {
  font-family: var(--font-o);
  font-size: 1.6rem;
  text-decoration: none;
  line-height: 2.2rem;
  font-weight: 600;
  color: var(--gray);
  padding-right: 2rem; }

.contact-icon {
  padding-right: 1rem; }

.form-box {
  margin: 0 0 0 11.5rem; }

form {
  display: flex;
  flex-direction: column; }

.form-field {
  display: flex;
  flex-direction: column; }

.form-label {
  font-family: var(--font-o);
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .33rem;
  color: var(--blue); }

.input-text {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--gray-form);
  font-size: 1.8rem;
  font-family: var(--font-r);
  font-weight: 500;
  line-height: 2.6rem;
  padding: .5rem 0;
  margin: .5rem 0 4rem 0; }

.input-text:hover {
  border-bottom: 1px solid var(--blue); }

.input-text:focus {
  border-bottom: 1px solid var(--blue); }

.checkbox {
  display: flex; }

.checkbox-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  outline: none;
  margin-top: 3rem;
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid var(--gray-form);
  border-radius: 4px;
  cursor: pointer;
  background: #ffffff; }

.checkbox-btn:hover {
  border: 1px solid var(--blue); }

.checkbox-btn:checked {
  background: #ffffff;
  border: 1px solid var(--blue); }

.checkbox-btn:checked:after {
  content: url("../assets/Checkmark.svg");
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  padding: .6rem; }

.checkbox-btn:hover {
  border: 1px solid var(--blue); }

.checkbox p {
  font-family: var(--font-o);
  font-size: 1.2rem;
  line-height: 1.7rem;
  width: 40.5rem;
  color: #707070;
  padding: 3rem 0 2rem 1.6rem; }

.btn {
  display: block;
  width: 22.6rem;
  font-family: var(--font-o);
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.8rem;
  padding: 2rem 9.7rem;
  border: 0;
  border-radius: 35px;
  background-color: var(--blue);
  color: #ffffff;
  margin: 2rem 0 0 0;
  align-self: flex-end;
  box-shadow: 0.5rem 1rem 1.4rem var(--blue-shadow); }

.btn:hover {
  border: 2px solid var(--deeppink); }

.btn:active {
  box-shadow: 0.5rem 1rem 1.4rem var(--deeppink); }

@media (max-width: 1400px) {
  .section-5 {
    margin: 0 3rem 0 3rem;
  }
}

@media (max-width: 1000px) {
  .section-5 {
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .section-5 .info-box {
      width: 75%; }
    .section-5 p {
      width: 90%; }
    .section-5 .form-box {
      width: 75%;
      margin: 5.5rem 0 0 0; }
      .section-5 .form-box .btn {
        width: 22.6rem; } 
}

.sectionAdded {
  background-color: var(--lightgray);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-o); }

.sectionAdded h2 {
  text-align: center;
  margin: 9.5rem 0 5rem 0;
  width: 70%; }

.calculator {
  width: 60%;
  margin-bottom: 9.5rem;
  display: flex; }

.inputs {
  width: 50%;
  display: flex;
  flex-direction: column; }

.calcInput {
  width: 100%;
  height: 4rem;
  background-color: white;
  margin-bottom: 2rem;
  border: 1px solid var(--blue);
  border-radius: 6px;
  box-shadow: 0 .3rem .6rem #08A6E429;
  padding-left: 2rem; }

.calcInput::placeholder {
  color: var(--gray);
  font-size: 1.3rem;
  line-height: 1.8rem; }

.calcInput:hover {
  cursor: pointer; }

.calcInput:focus {
  border: 1px solid var(--deeppink); }

.numberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield; }

/* -------------------------- Dropdown ------------------------------------------------------------------------------ */
.dropbtn {
  background-color: white;
  color: var(--gray);
  font-size: 1.3rem;
  line-height: 1.8rem;
  border: 1px solid var(--blue);
  width: 100%;
  height: 4rem;
  border-radius: 6px;
  text-align: left;
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown img {
  float: right;
  margin-right: 1rem; }

.dropdown-content {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: 1rem;
  background-color: white;
  border: 1px solid var(--deeppink);
  border-radius: 6px;
  width: 100%;
  z-index: 1; }

.dropdown-content.clicked {
  display: flex; }

.dropdownImg.clicked {
  transform: rotate(180deg); }

.dropdown-content option {
  width: 80%;
  height: 33.333%;
  color: black;
  font-family: var(--font-o);
  font-size: 1.3rem;
  padding: 1.2rem 2rem;
  margin: 0 2.5%;
  display: block; }

.dropdown-content option:hover {
  cursor: pointer;
  background-color: var(--lightgray); }

/* ------------------------------------------------------------------------------------------------------------------ */
.checkboxes {
  display: flex;
  align-items: center; }

.checkboxes p {
  font: var(--font-o);
  font-size: 1.2rem;
  margin: 3rem 0 0 1rem; }

.summary {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.calcInfos {
  width: 85%;
  height: 3.1rem;
  background-color: var(--aquamarine);
  margin-bottom: .8rem;
  border-radius: 6px;
  box-shadow: 0 0.3rem 0.6rem var(--gray-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.calcInfos p {
  display: block;
  float: left;
  width: 30%;
  font-size: 1.3rem;
  line-height: 1.9rem; }

.calcInfos p:nth-child(1) {
  color: white;
  padding-left: 2rem;
  margin-right: 5%; }

.calcInfos p:nth-child(2) {
  color: white;
  text-align: center;
  margin-right: 5%; }

.calcInfos p:nth-child(3) {
  color: white;
  font-weight: 700;
  margin-right: 2rem;
  text-align: right; }

.sum {
  display: flex;
  align-items: center;
  width: 18rem;
  height: 3.8rem;
  background-color: var(--blue);
  border-radius: 6px;
  margin-top: 1.6rem; }

.sum p {
  width: 50%;
  padding: 0 2rem;
  color: white; }

.sum p:nth-child(1) {
  padding-left: 2rem;
  font-size: 1.4rem;
  line-height: 1.9rem; }

.sum p:nth-child(2) {
  padding-right: 2rem;
  text-align: right;
  font-size: 2rem;
  line-height: 2.7rem;
  font-weight: 700; }

@media (max-width: 1050px) {
  h2 {
    padding: 0 1.5rem; }
  .calculator {
    flex-direction: column;
    align-items: center; }
    .calculator .inputs {
      width: 80%; }
    .calculator .summary {
      margin-top: 4rem;
      width: 80%; }
      .calculator .summary .calcInfos {
        width: 100%; }
      .calculator .summary .sum {
        width: 65%; } }

@media (max-width: 1000px) {
  .sectionAdded {
    margin-top: 63rem; } }

@media (max-width: 540px) {
  .calcInfos p {
    font-size: 1rem;
  }
  .calculator .summary {
    margin-left: 12rem;
  }
  .calculator .summary .calcInfos {
    width: 27rem; 
  }
  .calculator .summary .sum {
    width: 20rem;
  } 
}
@media (max-width: 400px) {
  .calcInput::placeholder {
    font-size: 1rem; 
  }
  .dropbtn {
    font-size: 1rem;
  }
}

footer {
  height: 8.7rem;
  background-color: var(--lightgray);
  box-shadow: 0 -0.5rem 4rem var(--gray-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem; }

.footer-logo-box {
  margin-left: 13.5rem; }

.logo-footer {
  font-family: var(--font-r);
  font-size: 2.6rem;
  text-decoration: none;
  line-height: 3rem;
  color: var(--blue); }

.footer-text {
  font-family: var(--font-o);
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: var(--gray);
  padding-top: .7rem; }

.social-media {
  padding-right: 13.5rem; }

.facebook {
  padding-left: 2rem; }

@media (max-width: 1000px) {
  .footer-logo-box {
    margin-left: 2.5rem; }
  .social-media {
    padding-right: 3rem; } 
}  