.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lightgray);
}

.media-container {
  width: 61%;
  height: 37rem;
  background-color: white;
  display: flex;
}

.media-container:nth-child(1) {
  margin-top: 10.5rem;
  .media-text {
    width: 45%;
  }
}

.media-container:nth-child(2) {
  margin-top: 3.7rem;
  .media-img {
    width: 22rem;
    height: 22rem;
    background-color: var(--blue);
    border-radius: 50%;
    margin-top: 7rem;
    position: absolute;
  }
  .media-text {
    margin-left: 53%;
  }
}

.media-box {
  margin: 3rem
}

.media-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.media-text h2 {
  padding: 0;
}
.media-text p {
  font-family: var(--font-o);
  font-size: 1.6rem;
  line-height: 2.2rem;
  position: relative;
  padding-top: 3rem;
}

.media-text p::before {
  content: "";
  position: absolute;
  bottom: -3rem;
  left: 0;
  width: 70%;
}

.media-text:nth-child(1) p::before {
  border-bottom: 4px solid var(--deeppink);
}

.media-text:nth-child(2) p::before {
  border-bottom: 4px solid var(--blue);
}

.media-img {
  position: relative;
}

.img-square {
  width: 15rem;
  height: 15rem;
  border-radius: 4rem;
  background-color: var(--deeppink);
  transform: rotate(45deg);
  position: absolute;
  top: 15%;
  right: 5%;
}

.mac {
  width: 27rem;
  position: relative;
  top: 25%;
  right: 5%;
  z-index: 1;
}

.iphone {
  position: absolute;
  left: 0;
  top: 10%;
  z-index: 2;
  width: 29rem;
}

.container-2 {
  margin: 3.7rem 0 10.5rem 0;
  width: 61%;
  height: 37rem;
  display: flex;
  justify-content: space-between;
}

.box-text {
  box-sizing: border-box;
  padding-left: 3.5rem;
  width: 56%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-text p{
  width: 80%;
  font-family: var(--font-o);
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding: 3rem 0 4rem 0;
  position: relative;
}

.box-text p:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70%;
  border-bottom: 4px solid var(--aquamarine);
}

.box-image {
  height: 100%;
  width: 38%;
  background-color: var(--aquamarine);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.trumpet {
  width: 70%;
  height: auto;
}

@media (max-width: 1000px) {
  .section-3 {
    height: auto;
    .media-container {
      flex-direction: column;
      height: auto;
      align-items: center;
      .media-text {
          margin: 0;
          padding: 0;
          width: 100%;
        h2 {
          padding: 0 3.5rem;
          font-size: 3rem;
          line-height: 3.6rem;
        }
        p {
          padding: 3.5rem;
          &::before {
            display: none;
          }
        }
      }
      .mac {
        margin-top: 6.5rem;
      }
    }
    .media-container:nth-child(1) {
      flex-direction: column-reverse;
    }
    .media-container:nth-child(2) {
      .media-img {
        margin: 3rem 0 0 -1.6rem;
      }
      .media-text {
        margin-top: 30rem;
      }
    }
    .container-2 {
      flex-direction: column;
      height: auto;
      .box-text {
        width: 100%;
        h2 {
          font-size: 3rem;
          line-height: 3.6rem;
          width: 90%;
          margin-top: 3.5rem;
          padding-left: 0;
        }
        p {
          width: 90%;
          &:before {
            display: none;
          }
        }
      }
      .box-image {
        margin-top: -1rem;
        width: 100%;
        .trumpet {
          margin-top: 15%;
        }
      }
    }
  }
}
