.section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-4 h2 {
  margin: 10.5rem 0 5rem 0;
}
.pricing-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 60rem;
  margin-bottom: 9.5rem;
}

.pricing-plans {
  width: 25%;
  height: 80%;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.offer {
  width: 100%;
}

.caption, .jist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-plans:nth-child(1) {
  border: 1px solid var(--deeppink);
}

.pricing-plans:nth-child(2) {
  border: 1px solid var(--blue);
  margin: 0 6rem;
  flex-grow: 1.3;
  height: 90%;
  box-shadow: .5rem 1rem 2.7rem #07ACE629;
}

.pricing-plans:nth-child(3) {
  border: 1px solid var(--aquamarine);
}

h3 {
  font-family: var(--font-r);
  font-size: 2.1rem;
  font-weight: 700;
  margin: 3.8rem 0 1.4rem 0;
}

.prices {
  font-family: var(--font-o);
  font-size: 4.6rem;
  line-height: 6.4rem;
  font-weight: 300;
}

.priceOne {
  color: var(--deeppink);
  padding-bottom: 7rem;
}

.priceTwo {
  color: var(--blue);
}

.priceThree{
  color: var(--aquamarine)
}

.limited {
  font-family: var(--font-r);
  font-size: 1.2rem;
  font-weight: 700;
  padding-top: 1rem;
}

.limitedOne {
  padding-bottom: 7.5rem;
}

.limitedTwo {
  padding-bottom: 4.8rem;
}

.pricing-plans img {
  width: 1.1rem;
  height: 1.1rem;
}
.pricing-plans span {
  font-family: var(--font-o);
  font-size: 1.4rem;
  line-height: 4.1rem;
  padding-left: 1rem;
}

.pricing-plans a {
  color: white;
  font-family: var(--font-o);
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  padding: 1.6rem 5.7rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: 23px;
  margin-top: 4.3rem;
}

.pricing-plans a:active {
  box-shadow: .5rem 1rem 1.4rem var(--deeppink);
}

.pricing-plans:nth-child(1) a{
  background-color: var(--deeppink);
}

.pricing-plans:nth-child(2) a{
  background-color: var(--blue);
  margin-top: 7.6rem;
  box-shadow: .5rem 1rem 1.4rem #07ACE629;
}

.pricing-plans:nth-child(2) a:active {
  box-shadow: .5rem 1rem 1.4rem var(--deeppink);
}

.pricing-plans:nth-child(3) a{
  background-color: var(--aquamarine);
}

@media (max-width: 1000px) {
  .pricing-box {
    flex-direction: column;
    width: 50%;
    .pricing-plans {
      width: 85%;
      height: 60%;
      margin-bottom: 5.5rem;
      .offer {
        display: flex;
        align-items: center;
        margin-top: 5rem;
        .caption {
          width: 50%;
          height: 50%;
          h3 {
            margin-top: 0;
            padding-top: 0;
          }
        }
        .jist {
          width: 50%;
          align-items: flex-start;
        }
      }
      a {
        margin-top: 8rem;
      }
    }
    .pricing-plans:nth-child(2) {
      width: 95%;
      a {
        margin-top: 8rem;
      }
    }
  }
}

@media (max-width: 800px) {
  .pricing-box {
    flex-direction: column;
    width: 60%;
  }
}

@media (max-width: 700px) {
  .pricing-box {
    flex-direction: column;
    width: 70%;
  }
}

@media (max-width: 550px) {
  .pricing-box {
    flex-direction: column;
    width: 85%;
  }
}

@media (max-width: 550px) {
  .pricing-box {
    flex-direction: column;
    width: 85%; } }

@media (max-width: 389px) {
  .pricing-box {
    .pricing-plans a {
      margin-top: 4rem;
    }
  }
}